.button {
    border: 1px solid black;
    background: white;
    color: black;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
    transition-duration: 0.5s;
    text-decoration: none;
}

.button:hover {
    border: 1px solid white;
    background: black;
    color: white;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
}

.submit-button:hover {
    border: 1px solid black;
    background: white;
    color: black;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
    transition-duration: 0.5s;
    text-decoration: none;
}

.submit-button {
    border: 1px solid white;
    background: black;
    color: white;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
}

.user {
    justify-content: flex-end;
}

.input-div {
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    width: 100%;
}

.form-div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
